In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df_popular=pd.read_csv('C:\Users\WSKIM\Dropbox\moviemeta\Top500_since2001.csv')
df_popular.head(5)

   country  year                                      movie
0  Germany  2014  The Hobbit: The Battle of the Five Armies
1  Germany  2014                              Honig im Kopf
2  Germany  2014            Transformers: Age of Extinction
3  Germany  2014      The Hunger Games: Mockingjay - Part 1
4  Germany  2014        Qu'est-ce qu'on a fait au Bon Dieu?

In [8]:
df_popular.shape

(18308, 3)

**Box office data availability**

For US, yearly boxoffice data are available since 1980, and top 500 movies data are available since 2003. 
For Germany, yearly boxoffice data are available since 2001, and most of yearly data are around top 300 movies. 
For UK, yearly boxoffice data are available since 2002, and number of data(#movies) is varied by years.
For South Korea, yearly data are available since 2007, and number of data(#movies) is varied by years.

In [37]:
g= df_popular.groupby(['country','year']).count()
g

                     movie
country        year
Germany        2001    167
               2002    217
               2003    223
               2004    254
               2005    223
               2006    244
               2007    395
               2008    387
               2009    351
               2010    300
               2011    345
               2012    350
               2013    336
               2014    347
South Korea    2007    474
               2008    461
               2009    385
               2010    386
               2011    297
               2012    178
               2013    184
               2014    188
United Kingdom 2002    169
               2003    203
               2004    259
               2005    263
               2006    415
               2007    498
               2008    500
               2009    372
               2010    264
               2011    500
               2012    500
               2013    440
               2014    398
United States  2001    356
               2002    479
               2003    500
               2004    500
               2005    500
               2006    500
               2007    500
               2008    500
               2009    500
               2010    500
               2011    500
               2012    500
               2013    500
               2014    500